:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3d;

    --header-height: 120px;
    --navbar-height: 32px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    /* 100% = 16px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* p {
    62.5% -> 1rem = 10px
    font-size: 1.6rem;
} */

/* .grid {
    .row {
        .column {

        }
        .column {

        }
    }
    .row {
        .column {

        }
        .column {

        }
    }
} */

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }

}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__body {
    --growth-from: 0.8;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Buton style */
.btn {
    min-width: 124px;
    height: 32px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.4rem;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* Selection */
.select-input {
    position: relative;
    min-width: 200px;
    height: 32px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input:hover {
    cursor: pointer;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}
    
.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 16px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #f05d40;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
}