.header {
    height: 120px;
    background-image: linear-gradient(0, #ff6433, #f7472e);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 28px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-noti:hover .header__noti {
    display: block;
}

.header__navbar-item, 
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item, 
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #f96e5c;
    height: 16px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-label--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code */
.header__qr {
    width: 184px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 2px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 16px;
}

.header__qr-link:nth-child(2) {
    margin-right: 16px;
}

.header__qr-link-child:nth-child(1) {
    margin-bottom: 8px;
}

.header__qr-link-child:nth-child(2) {
    margin-bottom: 8px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header notification */
.header__noti {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotiGrowth ease-in 0.2s;
    display: none;
}

.header__noti::before {
    content: "";
    border-width: 24px 36px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -32px;
}

.header__noti::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 92px;
    height: 20px;
}

@keyframes headerNotiGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }

}

.header__noti-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__noti-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__noti-list {
    padding-left: 0;
}

.header__noti-item {
    display: flex;
}

.header__noti-item:hover {
    background-color: #fafafa;
}

.header__noti-item--unseen {
    background-color: rgba(238, 77, 45, 0.05);
}

.header__noti-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__noti-img {
    width: 48px;
    object-fit: contain;
}

.header__noti-info {
    margin-left: 12px;
}

.header__noti-info-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 8px;
    line-height: 1.8rem;
}

.header__noti-info-desc {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #757575;
}

.header__noti-footer {
    display: flex;
}

.header__noti-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 48px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}